



$color-primary: #6d44b1;
$color-primary-btn-text: #f5f5f5;
$color-text: #55505c;
$color-gray: #8d8ea0;
$color-subtle: #e5e5e5;
$color-background: #f5f5f5;
$color-background-alternate: #fff;
$color-background-faded: #f5f5f5;

$color-primary: #4beea2;
$color-primary-btn-text: #2e2e2e;
$color-text: #aaabc4;
$color-gray: #8d8ea0;
$color-subtle: #55505c;
$color-background: #2e2e2e;
$color-background-alternate: #272727;
$color-background-faded: #2e2e2e;


$border-radius: 0;
$border-width: 2px;
$font-size-sm: 1rem;
$font-size: 1.2rem;
$font-size-lg: 1.5rem;
$font-size-xlg: 1.8rem;
$font-size-xxlg: 2.5rem;
$page-padding: 2rem;
$content-width: 1024px;

$project-padding: 5rem;
$project-padding-lg: 7rem;

* {
  box-sizing: border-box;
}

@mixin width-clamp {
  max-width: $content-width;
  margin: auto;
}

body {
  font-family: "Montserrat", sans-serif;
  color: $color-text;
  background-color: $color-background;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr Min($content-width, 100%) 1fr;

  > * {
    grid-column: 2;
  }

  .full-bleed {
    width: 100%;
    grid-column: 1 / -1;
  }
}

h2 {
  @include width-clamp;
  color: $color-gray;
  font-weight: 100;
  text-align: left;
  width: 100%;
  padding: 0 $page-padding;
  font-size: $font-size-xxlg;
}

h3 {
  font-size: $font-size-xlg;
  text-align: left;
  margin: 0;
  margin-bottom: 2rem;
}

header {
  width: 100%;
  //background: linear-gradient(to top, #0000 0%, $color-background 50%);
  background-color: $color-background-faded;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  > div {
    @include width-clamp;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: $font-size-lg;
    padding: 2rem 2rem 2rem 2rem;
  }

  .logo {
    font-weight: bold;
    font-family: 'Courier New', monospace;
  }

  .horizontal-nav {
    display: none;
  }
}

.hero {
  text-align: left;
  padding: $page-padding;
  height: 100vh;
  display: grid;
  place-content: center;

  > div {
    width: 100%;
  }

  h1 {
    margin: 0;
  }

  span {
    color: $color-primary;
    font-size: $font-size-xxlg;
  }

  p {
    font-weight: 400;
    font-size: $font-size;
    line-height: $font-size-xlg;
    margin-top: 3rem;
    max-width: 50ch;
  }

  .buttons {
    display: flex;
    flex-direction: column;
  }

  .scroll-arrow-container {
    text-align: center;

    .scroll-arrow {
      font-size: 2rem;
      margin-top: 5rem;
      color: $color-primary;
    }
  }
}

a, button {
  border-radius: $border-radius;
  padding: 1rem;
  width: 100%;
  margin-top: 1rem;
  font-size: $font-size-sm;
  display: block;
  cursor: pointer;
  transition: .3s;

  text-decoration: none;
  color: $color-text;

  &.primary {
    background-color: $color-primary;
    color: $color-primary-btn-text;
    border: $border-width solid $color-primary;

    &:hover {
      background-color: transparent;
      color: $color-primary;
    }
  }

  &.secondary {
    background-color: transparent;
    color: $color-gray;
    border: $border-width solid $color-subtle;

    &:hover {
      border-color: $color-primary;
      color: $color-primary;
    }
  }

  &.link {
    padding: 0;
    margin: 0;
    font-size: $font-size;
    position: relative;
    transition: .4s;

    &:before, &:after {
      content: " ";
      position: absolute;
      width: 1rem;
      height: $border-width;
      background-color: rgb(204, 31, 31);
      bottom: -.5rem;
      left: 0;
      width: 0;
      transition: .4s;
      opacity: 0;
    }

    &:after {
      background-color: $color-primary;
      transition: width .2s cubic-bezier(0.29, 0.18, 0.26, 0.83);
    }

    &:hover {
      color: $color-primary;

      &:before, &:after {
        width: 100%;
        opacity: 1;
      }
    }
  }

  &.copy-btn {
    font-weight: 100;
    font-family: "Courier New", monospace;
    font-size: $font-size;
    word-break: break-all;
    background-color: transparent;
    border: none;
    position: relative;
    text-align: left;
    transition: .3s;
    padding: 1rem 0 0 0;
    white-space: pre;
    color: $color-primary;

    &.animate {
      animation: clipboard-anim 1s ease-in-out;
    }

    &:before {
      content: "\A{ copy to clipboard }";
      position: absolute;
      font-size: $font-size-sm;
      width: 100%;
      top: 0;
      line-height: $font-size-xxlg;
      left: 0;
      padding: 0;
      box-sizing: border-box;
      color: $color-text;
      opacity: 1;
      transition: .3s;
    }

  }
}

@keyframes clipboard-anim {
  0% {
    transform: scale(.9);
  }
  15% {
    transform: scale(1.1);
  }
  45% {
    transform: scale(.95);
  }

  100% {
    transform: scale(1);
  }
}

section {
  margin: 8rem 0;
}

.skills {
  background-color: $color-background-alternate;
  padding: 3rem 0;
  color: $color-text;
  h2 {
    text-align: center;
    color: $color-background;
  }

  .skills-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: $page-padding;
    padding-bottom: 0;
    @include width-clamp;
    position: relative;

    .skill {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-basis: 33%;
      text-align: center;
      transition: transform .3s;
      padding: .5rem;

      .icon {
        font-size: 3rem;
        margin-bottom: 1rem;
      }

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}

.project-wrapper {
  .project {
    padding: $project-padding $page-padding;
    @include width-clamp;

    p {
      font-size: $font-size;
      line-height: $font-size-xlg;
      margin-top: 2rem;
    }
    
    .subdescription {
      display: flex;
      flex-wrap: wrap;
      font-size: $font-size-sm;
      color: $color-gray;
      line-height: $font-size-xlg;
      margin-bottom: 2rem;

      > span {
        margin-right: 1rem;
      }
    }

    .buttons {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }  

  &:nth-child(odd) {
    background-color: $color-background-alternate;
  }

}

.contact {
  padding: $page-padding;

  p {
    font-size: $font-size;
    margin-bottom: 5rem;
  }

  form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    grid-gap: 1rem;
  }

  .email {
    text-align: left;
    font-size: $font-size;
    font-weight: 100;
    margin-top: 2rem;

    span {
      padding-top: 1rem;
      display: block;
    }
  }
}

.input-group {
  position: relative;
  margin: 1rem 0;

  label {
    position: absolute;
    top: 0;
    transition: .2s ease-out;
    font-size: $font-size;
    color: $color-gray;
    cursor: text;
  }

  input[type=text],
  input[type=email],
  textarea {
    background-color: transparent;
    border: 0;
    border-bottom: $border-width solid $color-gray;
    display: block;
    width: 100%;
    padding-bottom: .5rem;
    transition: .2s ease-out;
    color: $color-text;

    &:focus {
      outline: none;
      border-color: $color-primary;
    }

    &:focus ~ label,
    &:valid ~ label {
      top: -1.5rem;
      font-size: $font-size-sm;
      color: $color-primary;
    }
  }

  textarea {
    height: 2rem;
    min-height: 2rem;
  }

  textarea:focus,
  textarea:valid {
    min-height: 7rem;
  }
}



footer {
  text-align: center;
  padding: $page-padding;

  ul {
    padding: 0;

    li {
      list-style-type: none;
      margin: 1rem;
    }
  }

  .copyright {
    font-size: $font-size;
    color: $color-gray;
  }
}

.screenshot {
  display: flex;
  max-height: 20rem;
  max-width: 20rem;
  margin: auto;

  .mobile-container {
    border-radius: 3rem;
    border: 5px solid $color-subtle;
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    > span {
      position: absolute;
      border-top: 5px solid $color-subtle;
      width: 3rem;
  
      &.btn1 {
        top: -9px;
        right: 3rem;
      }
  
      &.btn2, &.btn3, &.btn4 {
        transform: rotate(90deg);
        left: calc(-1rem - 7px);
        top: 6rem;
        width: 2rem;
      }
  
      &.btn3 {
        top: 10rem;
      }
  
      &.btn4 {
        top: 14rem;
      }
    }
  
    .circle {
      border: 3px solid $color-subtle;
      border-radius: 50%;
      width: 1rem;
      height: 1rem;
      margin: 1rem;
    }
  
    .rectangle {
      border: 3px solid $color-subtle;
      border-radius: 1rem;
      width: 4rem;
      height: 1rem;
    }
  
    .image-container {
      margin: 1rem;
      margin-bottom: 0;
      overflow-y: hidden;
      border: 5px solid $color-subtle;
      border-radius: 1rem;
      border-bottom: 0;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      img {
        width: 100%;
      }
    }
  }

  .desktop-container {
    border-radius: 1rem;
    border: 5px solid $color-subtle;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;


    .circle {
      border: 3px solid $color-subtle;
      border-radius: 50%;
      width: .5rem;
      height: .5rem;
      margin-bottom: .5rem;
    }

    .image-container {
      max-height: 10rem;
      overflow-y: hidden;
      margin: .5rem;
      border: 5px solid $color-subtle;
      border-radius: 1rem;

      img {
        width: 100%;
      }
    }

    .triangle {
      border-bottom: 2rem solid $color-subtle;
      border-left: 1rem solid transparent;
      border-right: 1rem solid transparent;
      height: 0;
      width: 3rem;
      z-index: 0;

      position: absolute;
      top: 100%;
    }
  }
}


@media only screen and (min-width: 768px) {
  h2 {
    text-align: center;
  }

  header {
    left: 0;
    right: 0;

    .hamburger {
      display: none;
    }

    .horizontal-nav {
      display: block;
      ul {
        padding: 0;
        margin: 0;
        display: flex;
        li {
          list-style-type: none;
          margin-left: 2rem;
          font-size: $font-size;
        }
      }
    }
  }

  button {
    &.copy-btn {
      text-align: center;
      font-size: $font-size-xlg;
      color: $color-text;

      &:before {
        font-size: $font-size;
        line-height: 3rem;
        text-align: center;
        opacity: 0;
      }

      &:hover {
        color: $color-primary;
  
        &:before {
          opacity: 1;
        }
      }
    }
  }

  .hero {
    text-align: center;

    .buttons {
      flex-direction: row;
      justify-content: center;
      gap: 1rem;

      button {
        max-width: 15rem;
      }
    }
  }

  .skills {
    .skills-list {
      .skill {
        flex-basis: 5%;
      }
    }
  }

  .project-wrapper {
    .project {
      display: grid;
      grid-template-columns: .5fr .5fr;
      grid-template-rows: auto auto auto auto;
  
      padding: 0rem $page-padding 0 $page-padding;
      //border-radius: 2rem;
  
      h3 {
        grid-column: 1 / 2;
        grid-row: 1 / 2; 
        text-align: left;
        margin: 0;
        margin-top: $project-padding-lg;
      }
  
      p {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
      }
  
      .subdescription {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
      }
  
      .screenshot {
        grid-column: 2 / 3;
        grid-row: 1 / 6;
        padding-left: 1rem;
  
        &.bleed {
          margin-bottom: 0;
        }
      }
  
      .buttons {
        flex-direction: row;
        margin-bottom: $project-padding-lg;
      }
    }

    &:nth-child(odd) .project {
      .screenshot {
        grid-column: 1 / 2;
        padding: 0;
        padding-right: 1rem;
      }

      h3, p, .buttons, .subdescription {
        grid-column: 2 / 3;
      }
    }
  }
  

  .contact {

    form {
      grid-template-columns: .5fr .5fr;
      grid-template-rows: auto auto auto;

      .textarea {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        
      }

      button {
        grid-column: 1 / 3;
        grid-row: 3 / 4;

        max-width: 15rem;
        justify-self: end;
      }
    }

    .email {
      text-align: center;
    }
  }

  footer {

    ul {
      display: flex;
      justify-content: center;
    }
  }

}