

$color-primary: #6100ff;
$color-primary-btn-text: #f5f5f5;
$color-text: #55505c;
$color-gray: #8d8ea0;
$color-subtle: #e5e5e5;
$color-background: #f5f5f5;
$color-background-alternate: #fff;

$color-primary: #4beea2;
$color-primary-btn-text: #2e2e2e;
$color-text: #aaabc4;
$color-gray: #8d8ea0;
$color-subtle: #55505c;
$color-background: #2e2e2e;
$color-background-alternate: #272727;


$border-radius: 10px;
$border-width: 3px;
$font-size-sm: 1rem;
$font-size: 1.2rem;
$font-size-lg: 1.5rem;
$font-size-xlg: 1.8rem;
$font-size-xxlg: 2.5rem;
$page-padding: 2rem;

* {
  box-sizing: border-box;
}

@mixin width-clamp {
  max-width: 1024px;
  margin: auto;
}

body {
  font-family: "Montserrat", sans-serif;
  color: $color-text;
  background-color: $color-background;
}

h2 {
  @include width-clamp;
  color: $color-gray;
  font-weight: 100;
  text-align: left;
  width: 100%;
  padding: 0 $page-padding;
  font-size: $font-size-xxlg;
}

h3 {
  font-size: $font-size-xlg;
  text-align: left;
  margin: 0;
  margin-bottom: 2rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: $font-size-lg;
  background: linear-gradient(to top, #0000 0%, $color-background 50%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 2rem 2rem 4rem 2rem;
  z-index: 10;

  .logo {
    font-weight: bold;
    font-family: 'Courier new';
  }

  .horizontal-nav {
    display: none;
  }
}

.hero {
  text-align: left;
  padding: $page-padding;
  height: 100vh;
  display: grid;
  place-content: center;

  > div {
    width: 100%;
  }

  h1 {
    margin: 0;
  }

  span {
    color: $color-primary;
    font-size: $font-size-xxlg;
  }

  p {
    font-weight: 400;
    font-size: $font-size;
    line-height: $font-size-xlg;
    margin-top: 3rem;
    max-width: 50ch;
  }

  .buttons {
    display: flex;
    flex-direction: column;
  }

  .scroll-arrow-container {
    text-align: center;

    .scroll-arrow {
      font-size: 2rem;
      margin-top: 5rem;
      color: $color-primary;
    }
  }
}

a, button {
  border-radius: $border-radius;
  padding: 1rem;
  width: 100%;
  margin-top: 1rem;
  font-size: $font-size-sm;
  display: block;
  cursor: pointer;

  text-decoration: none;
  color: $color-text;

  &.primary {
    background-color: $color-primary;
    color: $color-primary-btn-text;
    border: $border-width solid $color-primary;
  }

  &.secondary {
    background-color: transparent;
    color: $color-gray;
    border: $border-width solid $color-subtle;
  }

  &.link {
    padding: 0;
    margin: 0;
    font-size: $font-size;
  }
}

section {
  margin: 8rem 0;
}

.project {
  padding: 5rem $page-padding;

  p {
    font-size: $font-size;
    line-height: $font-size-xlg;
    margin-top: 2rem;
  }

  &:nth-child(odd) {
    background-color: $color-background-alternate;
  }

  .subdescription {
    display: flex;
    flex-wrap: wrap;
    font-size: $font-size-sm;
    color: $color-gray;
    line-height: $font-size-xlg;
    margin-bottom: 2rem;

    > span {
      margin-right: 1rem;
    }
  }

  .buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

.contact {
  padding: $page-padding;
  margin-top: 10rem;

  p {
    font-size: $font-size;
    margin-bottom: 5rem;
  }

  form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    grid-gap: 1rem;
  }
}

.input-group {
  position: relative;
  margin: 1rem 0;

  label {
    position: absolute;
    top: 0;
    transition: .2s ease-out;
    font-size: $font-size;
    color: $color-gray;
    cursor: text;
  }

  input[type=text],
  input[type=email],
  textarea {
    background-color: transparent;
    border: 0;
    border-bottom: $border-width solid $color-gray;
    display: block;
    width: 100%;
    padding-bottom: .5rem;
    transition: .2s ease-out;

    &:focus {
      outline: none;
      border-color: $color-primary;
    }

    &:focus ~ label,
    &:valid ~ label {
      top: -1.5rem;
      font-size: $font-size-sm;
      color: $color-primary;
    }
  }

  textarea {
    height: 2rem;
    min-height: 2rem;
  }

  textarea:focus,
  textarea:valid {
    min-height: 7rem;
  }
}



footer {
  text-align: center;
  padding: $page-padding;

  ul {
    padding: 0;

    li {
      list-style-type: none;
    }
  }

  .copyright {
    font-size: $font-size;
    color: $color-gray;
  }
}

.screenshot {
  display: flex;
  max-height: 20rem;
  max-width: 20rem;
  margin: auto;

  .mobile-container {
    border-radius: 3rem;
    border: 5px solid $color-subtle;
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    > span {
      position: absolute;
      border-top: 5px solid $color-subtle;
      width: 3rem;
  
      &.btn1 {
        top: -9px;
        right: 3rem;
      }
  
      &.btn2, &.btn3, &.btn4 {
        transform: rotate(90deg);
        left: calc(-1rem - 7px);
        top: 6rem;
        width: 2rem;
      }
  
      &.btn3 {
        top: 10rem;
      }
  
      &.btn4 {
        top: 14rem;
      }
    }
  
    .circle {
      border: 3px solid $color-subtle;
      border-radius: 50%;
      width: 1rem;
      height: 1rem;
      margin: 1rem;
    }
  
    .rectangle {
      border: 3px solid $color-subtle;
      border-radius: 1rem;
      width: 4rem;
      height: 1rem;
    }
  
    .image-container {
      margin: 1rem;
      margin-bottom: 0;
      overflow-y: hidden;
      border: 5px solid $color-subtle;
      border-radius: 1rem;
      border-bottom: 0;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      img {
        width: 100%;
      }
    }
  }

  .desktop-container {
    border-radius: 1rem;
    border: 5px solid $color-subtle;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;


    .circle {
      border: 3px solid $color-subtle;
      border-radius: 50%;
      width: .5rem;
      height: .5rem;
      margin-bottom: .5rem;
    }

    .image-container {
      max-height: 10rem;
      overflow-y: hidden;
      margin: .5rem;
      border: 5px solid $color-subtle;
      border-radius: 1rem;

      img {
        width: 100%;
      }
    }

    .triangle {
      border-bottom: 2rem solid $color-subtle;
      border-left: 1rem solid transparent;
      border-right: 1rem solid transparent;
      height: 0;
      width: 3rem;
      z-index: 0;

      position: absolute;
      top: 100%;
    }
  }
}


@media only screen and (min-width: 768px) {
  header {
    @include width-clamp;
    left: 0;
    right: 0;

    .hamburger {
      display: none;
    }

    .horizontal-nav {
      display: block;
      ul {
        padding: 0;
        margin: 0;
        display: flex;
        li {
          list-style-type: none;
          margin-left: 2rem;
          font-size: $font-size;
        }
      }
    }
  }

  .hero {
    @include width-clamp;

    text-align: center;

    .buttons {
      flex-direction: row;
      justify-content: center;
      gap: 1rem;

      button {
        max-width: 15rem;
      }
    }
  }

  .project {
    @include width-clamp;

    display: grid;
    grid-template-columns: .5fr .5fr;
    grid-template-rows: auto auto auto auto;

    padding: 0rem $page-padding 0 $page-padding;
    border-radius: 2rem;

    h3 {
      grid-column: 1 / 2;
      grid-row: 1 / 2; 
      text-align: left;
      margin: 0;
      margin-top: 5rem;
    }

    p {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }

    .subdescription {
      grid-column: 1 / 2;
      grid-row: 3 / 4;
    }

    .screenshot {
      grid-column: 2 / 3;
      grid-row: 1 / 6;
      padding-left: 1rem;

      &.bleed {
        margin-bottom: 0;
      }
    }

    .buttons {
      flex-direction: row;
      margin-bottom: 5rem;
    }

    &:nth-child(odd) {
      .screenshot {
        grid-column: 1 / 2;
        padding: 0;
        padding-right: 1rem;
      }

      h3, p, .buttons, .subdescription {
        grid-column: 2 / 3;
      }
    }
  }

  .contact {
    @include width-clamp;

    form {
      grid-template-columns: .5fr .5fr;
      grid-template-rows: auto auto auto;

      .textarea {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        
      }

      button {
        grid-column: 1 / 3;
        grid-row: 3 / 4;

        max-width: 15rem;
        justify-self: end;
      }
    }
  }

  footer {
    @include width-clamp;

    ul {
      display: flex;
      justify-content: center;
    }
  }

}